.background {
    // Colors
    
    &--transparent {
        a {
            color: $red !important;
        }
    }
    
    &--light-grey {
        background-color: $light-grey;
    }
    
    &--dark-grey {
        background-color: $dark-grey;
        a {
            color: $white;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
    
    &--midnight-grey {
        background-color: $midnight-grey;
    }
    
    &--medium-grey {
        background-color: $medium-grey;
    }
    
    &--white {
        background-color: $white;
    }
    
    &--red {
        padding: 5px;
        background-color: $red;
        a {
            color: $white;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
    
    &--facebook {
        padding: 5px;
        background-color: #4267b2;
        color: $white;
    }
    
    &--twitter {
        padding: 5px;
        background-color: #0084B4;
        color: $white;
    }
    
    &--linkedin {
        padding: 5px;
        background-color: #006fa6;
        color: $white;
    }
    
    &--mail {
        padding: 5px;
        background-color: $red;
        color: $white;
    }
    
    // Images

    &--img-centered {
        background-position: center top;
        background-repeat: no-repeat;
        background-size: initial;
        height:100%;
    }

    &--img-bleed {
        background-position: right;
        background-repeat: no-repeat;
        background-size: contain;
        height: 800px;
    }

    &--img-splash {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: auto;

    }

    &--img-top {
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: auto;
        @media (max-width: #{$screen-md-max}) {
            background-position: center 100px;
        }
        @media (min-width: #{1650px}) {
            background-position: center -5vw;
        }
        
        a {
            color: inherit;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}