$white: #ffffff;
$off-white: #ebebec;
$black: #000000;
$red: #e92e2f;
$dark-red: #c2293c;
$fill-red: #dc3536;
$blue: #243C90;
$midnight-grey: #313440;
$light-grey: #ebebec;
$medium-grey: #626676;
$dark-grey: #2d3142;
