$padding-default: 10px;
$padding-sm: $padding-default * 0.5;
$padding-lg: $padding-default * 2;
$padding-xl: $padding-default * 4;
$padding-xxl: $padding-default * 8;

$margin-default: 10px;
$margin-sm: $margin-default * 0.5;
$margin-lg: $margin-default * 2;
$margin-xl: $margin-default * 4;
$margin-xxl: $margin-default * 8;

$transition: 0.2s;